# Required configuration
export PARTNER=graduate
export WORKFLOW_HOST=submit-etda.libraries.psu.edu
export EXPLORE_HOST=etda.libraries.psu.edu
export RAILS_ENV=development
export AUTO_REMEDIATE_WEBHOOK_PATH="/webhooks/auto_remediate"
export AUTO_REMEDIATE_WEBHOOK_TOKEN_GRADUATE=abc123
export AUTO_REMEDIATE_WEBHOOK_TOKEN_HONORS=def456
export AUTO_REMEDIATE_WEBHOOK_TOKEN_MILSCH=ghi789

# MySQL Parameters
# We should use root so we can create the test database
export MYSQL_USER=root
export MYSQL_PASSWORD=etda
export MYSQL_DATABASE=explore
# Change this to 127.0.0.1 if you are running rails outside of docker
export MYSQL_HOST=mysql
export MYSQL_LOCAL_PORT=3306

# Solr Parameters 
export SOLR_USERNAME=etda
export SOLR_PASSWORD=etda
export SOLR_HOST=127.0.0.1
export SOLR_CONFIG_DIR=solr/conf
export SOLR_COLLECTION=blacklight-core
export SOLR_NUM_SHARDS=1
export SOLR_PORT=8983
