<div>
    <%= render_download_links({ document: document }) %>
</div>

<% if show_request_alternate({ document: document }) %>
<li class='list-group-item request_alternate'>
    <%= link_to "Request paper in alternate format.", 'https://libraries.psu.edu/website-feedback' %>
</li>
<% end %>
