// Bootstrap Overrides //
@import 'font-awesome';

$blue-theme: #2674ca;
$white: #fff;
$light-gray: #d3d3d3;
$dark-green: #006400;

$theme-colors: (
  "primary": $blue-theme,
  "dark": #1f427c
);

.logo-title {
  a {
    border-left: 1px solid $white;
    color: $white;
    margin-left: 30px;
    padding-left: 1rem;
    padding-right: 0;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }
}

.download-link-fa {
  margin: 5px 5px 0 0;
}

.file-link {
  background-color: $blue-theme;
  border-color: $light-gray;
  border-radius: 6px;
  color: $white;
  display: block;
  flex: 1;
  height: auto;
  overflow: visible;

  &:hover {
    background-color: $dark-green;
    color: $white;
    text-decoration: none;
  }
}

.container {
  max-width: 1140px;
}

a {
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.btn {
  &:hover,
  &:focus {
    text-decoration: none;
  }
}


