<p>The thesis is the culmination of each Millennium Scholar’s research experience. Writing a research thesis gives each scholar the opportunity to demonstrate research abilities and proficiency regarding a STEM-related topic. </p>
<div class='h2'>Expand Creative Possibilities</div>
<p>By conducting research and writing the thesis under the supervision of faculty mentors, scholars strengthen faculty relationships, deepen their understanding of a topic, and contribute to expanding the frontiers of knowledge in their fields. The process also enables scholars to enhance their research and communication skills, which are critical to succeed in graduate studies and future careers.</p>
